
.chart {
  text-align: center;
  margin: auto;
}

.row {
  margin-bottom: 150px;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}

body {
    background: #1D1F20;
  padding: 16px;
    color: white;
}

canvas {
  border: 1px dotted red;
}

.chart-container {

  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

table, th, td {
  border: 1px solid gray;
    padding: 10px;
    margin-bottom: 50px;
}
tr:hover {background-color: rgba(172, 145, 145, 0.24);}

table {
overflow: hidden;
}

tr:hover {
  background-color: rgba(172, 145, 145, 0.24);

}
td:hover {


}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(172, 145, 145, 0.24);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}


