<html>

<head>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../media/css/login.css">

  <title>Sign in</title>



</head>

<body>
  <div class="main">
  <h1 class="sign" align="center">Smart Scale</h1>

    <p class="sign" align="center">Sign in</p>

    <form class="form1" method="POST">
        {% csrf_token %}


          <input type="username" name="username" id="inputEmail" class="un "  placeholder="User Name" required autofocus>
      <input type="password" name="password" id="inputPassword" class="pass" placeholder="Password" required>


      <input type="submit" class="submit" align="center"></input>

            {% if wrong_credentials %}
        <h4  align="center">Wrong!! Try again please</h4>
      {% endif %}

      <p class="forgot" align="center">
          <a href="#">Forgot Password?</a>
      </p>

    </form>

    </div>

<div align="center">
    <img src="../media/images/cat.gif" >
</div>

</body>

</html>